:root {
    --color-black: hsl(0, 0%, 10%);
    --color-darks: hsl(0, 0%, 25%);
    --color-greys: hsl(0, 0%, 60%);
    --color-light: hsl(0, 0%, 95%);
    --color-white: hsl(0, 0%, 100%);
    --color-green-100: hsl(152, 24%, 45%);
    --color-green-200: hsl(152, 24%, 40%);
    --color-green-300: hsl(152, 24%, 35%);
    --display-100: clamp(0.88rem, calc(0.8rem + 0.38vw), 1rem);
    --display-200: clamp(1rem, calc(0.96rem + 0.18vw), 1.13rem);
    --display-300: clamp(1.2rem, calc(1.11rem + 0.43vw), 1.5rem);
    --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

* {
    font-family: inherit;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

.brand img {
    width: 115px;
    height: auto;
}
body.modal-open {
    overflow: hidden;
}

.form-control:focus, .form-select:focus {
    border-color: #e37946;
    box-shadow: none;
}

.form-check-input:checked {
    background-color: #e37946;
    border-color: #e37946;
}

a:hover {
    color: #e37946;
    transition: .3s;
}

.search-container button:hover {
    background-color: #d46029;
    transition: .3s;
}

.navbar .b-btn:hover {
    background-color: #0c1e26 !important;
    color: #fff;
}

.navbar .y-btn:hover {
    background-color: #d46029 !important;
    color: #fff;
}

.loader {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    border-top: 2px solid #292929;
    border-right: 2px solid #efefef;
    border-bottom: 2px solid #efefef;
    border-left: 2px solid #efefef;
    border-radius: 100px;
    animation: spin 1s infinite linear;
}
  
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.btn:hover {
    opacity: 0.7;
}

.btn-primary {
    background-color: #e37946;
    border-color: #e37946;
    padding: 13px 42px;
    font-size: 13px;
}

.plain-btn {
    border: 1px solid #fff;
    background: none;
    color: #fff;
    font-size: 13px;
}

.service-actions button:hover {
    background-color: #dfdfdf;
    transition: 0.3s;
}
.service-actions button:focus {
    background-color: #dfdfdf;
    transition: 0.3s;
}

.container {
    max-width: 85rem;
    height: auto;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.brand-item {
    display: none;
}

.brand {
font-family: inherit;
font-size: 1.5rem;
font-weight: 600;
line-height: 1.5;
letter-spacing: -1px;
text-transform: uppercase;
color: #15323f;
}

.navbar {
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
-moz-column-gap: 1rem; 
width: 100%;
height: 6rem;
margin: 0 auto;
}


.menu {
position: fixed;
top: 0;
left: -100%;
width: 80%;
height: 100%;
z-index: 10;
overflow-y: auto;
background-color: var(--color-white);
box-shadow: var(--shadow-medium);
transition: all 0.45s ease-in-out;
}
.menu.is-active {
top: 0;
left: 0;
}
.menu-inner {
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
    margin: 1.25rem;
    list-style-type: none;
    padding-left: 0;
}
.menu-link {
font-family: inherit;
font-size: 0.95rem;
font-weight: 400;
line-height: 1.5;
text-transform: uppercase;
color: var(--color-black);
transition: all 0.3s ease;
text-decoration: none;
}
.menu-block {
display: inline-block;
font-family: inherit;
font-size: 13px;
font-weight: 500;
line-height: 1.25;
-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
text-align: center;
white-space: nowrap;
margin-left: auto;
padding: 0.65rem 1.35rem;
border-radius: 5px;
color: var(--color-white);
background-color: #e37946;
border-color: #e37946;
transition: all 0.3s ease-in-out;
padding: 14px 27px;
z-index: 1;
}
.navbar:nth-child(4) {
    margin-left: 1.5rem !important;
} 
@media only screen and (min-width: 57rem) {
.menu {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    margin-left: auto;
    background: none;
    box-shadow: none;
    margin-right: 1.3rem;
}
.menu-inner {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 1.95rem;
        column-gap: 1.95rem;
    margin: 0 auto;
}
.menu-link {
    text-transform: capitalize;
}
.menu-block {
    margin-left: 1rem;
}
}

.burger {
position: relative;
display: block;
cursor: pointer;
order: -1;
width: 1.75rem;
height: auto;
border: none;
outline: none;
visibility: visible;
z-index: 1;
}
.burger-line {
display: block;
cursor: pointer;
width: 100%;
height: 2px;
margin: 6px auto;
transform: rotate(0deg);
background-color: #000;
transition: all 0.3s ease-in-out;
}
@media only screen and (min-width: 48rem) {
.burger {
    display: none;
    visibility: hidden;
}
}

.overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 9;
opacity: 0;
visibility: hidden;
background-color: rgba(0, 0, 0, 0.65);
transition: all 0.3s ease-in-out;
}
.overlay.is-active {
display: block;
opacity: 1;
visibility: visible;
}
.sign-up {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 20px;
}

.sign-up div {
    max-width: 45rem;
    text-align: center;
}

.sign-up-header {
    font-family: 'Raleway', sans-serif;
}

.sign-up-pricing {
    font-weight: 600;
    font-size: 17px;
}

.sign-up-pricing span {
    color: #e37946;
}

.sign-up-description {
    color: #5a6e77;
}

.sign-up-header h2 {
    font-size: 32px;
}

.sign-up-section {
    display: flex;
    gap: 15%;
    align-items: center; 
    max-width: 75rem;
    margin: 0 auto;
    margin-bottom: 60px;
}

.sign-up-form {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.form-column {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

/*.sign-up-form .form-block {*/
.form-block {
    display: flex;
    gap: 25px;
}

/*.sign-up-form .form-block .input-group{ */
.form-block .input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-group input, .input-group select, .input-group textarea{
    width: 100% !important;
    border-radius: 6px !important;
    padding: 15px 20px !important;
}

.subscription-section .card {
    background-color: #15323f;
    color: #fff;
    width: 25rem;
    padding: 13px;
    border-radius: 15px;
}

.subscription-section .card .card-body{
    padding-top: 0;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 13.5px;
}

.subscription-section .card .card-body .menu-block {
    width: 100%;
    margin-left: 0 !important;
    padding: 25px;
    font-size: 15px;
}

.subscription-section .card .card-header{
    border: none;
    padding-top: 25px;
}

.subs-pricing {
    font-size: 32px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.subs-pricing span{
    font-size: 16px;
    color: #99a5ab;
    position: relative; 
    left: 5px;
}

.subs-features ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.subs-features i {
    font-size: 20px;
    margin-right: 10px;
}


/* FOOTER */

footer {
    background-color: #15323f;
    color: #bbb;
    line-height: 1.5;
}
footer a {
    text-decoration: none;
    color: #eee;
}

.ft-title {
    color: #fff;
    font-size: 1.075rem;
    padding-bottom: 0.325rem;    
}

.ft-title-border {
    border-top: 2px solid #e37946; 
    max-width: 48px;
    padding-bottom: 0.625rem;
}

.ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}
@media only screen and (min-width: 29.8125rem /* 477px */) {
.ft-main {
    justify-content: space-evenly;
}
}
@media only screen and (min-width: 77.5rem /* 1240px */) {
.ft-main {
    justify-content: space-evenly;
}
}
.ft-main-item {
padding: 1.25rem;
min-width: 12.5rem;
}
  
/* Footer main | Newsletter form */

/* Footer social */
.ft-disclaimer {
    padding: 0 1.875rem 1.25rem;
    display: flex;
    align-items: center;
    gap: 2%;
    margin: 0 9.5%;
} 
/* Footer legal */
.ft-legal {
padding: 0.9375rem 1.875rem;
background-color: #15323f;
}
.ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.ft-legal-list li {
margin: 0.125rem 0.625rem;
white-space: nowrap;
color: #fff;
font-size: 12px;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
    flex: 1;
}

.ft-main-item p {
    color: #fff;
}

.ft-main-item ul li {
    font-size: 15px;
    margin-bottom: 10px;
}

.disclaimer {
    color: #fff;
    font-size: 20px;
    padding-right: 15px;
    border-right: 2px solid #fff;
} 

.form-check-inline {
    display: inline-block;
    margin-right: 1rem;
    padding: 10px 35px 10px 35px;
    width: 150px;
    border-radius: 6px;
    margin-bottom: 1.5rem;
    font-size: 14px;
}

#editProfile {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 4% 10%;
    flex-direction: column;
}

#editProfile .page-title {
    margin-bottom: 2%;
}

.save-changes {
    text-align:center;
    margin-top: 20px;
}

.modal-window .save-changes .btn {
    width: 100%;
    margin-bottom: 15px; 
    margin-left: 0;
}

.save-changes .btn {
    padding: 13px 42px;
    font-size: 13px;
}

#userInfo {
    margin: 5% 3%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.user-profile-section {
    display: flex;
    align-items: center;
    gap: 1.7%;
}

.user-avatar img {
    border-radius: 50% 50% 50% 50%;
    width: 155px;
    height: 155px;
    object-fit: cover;
    object-position: top;
}

.reviewer-avatar img {
    border-radius: 50% 50% 50% 50%;
    width: 90px;
    height: 90px;
    object-fit: cover;
    object-position: top;
}

.user-info {
    line-height: 15px;
}
.subs-plan .card{
    padding: 15px;
    background: #15323f;
    color: #fff;
}

.subs-plan .card-header {
    background: none;
    border: none;
}

.subs-plan .card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.subs-plan .card-body .card-item {
    display: flex;
    flex-direction: column;
}

.subs-actions {
    display: flex;
    gap: 20px;
}

.subs-actions .plain-btn {
    padding: 13px 38px;
}

#userInfo .sign-up-form {
    width: 57%;
    margin-top: 20px;
}

.user-info-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#coachProfile {
    gap: 2.7%;
    width: 650px;
}

#coachProfile .user-info h3{
    font-weight: 700;
    color: #304a55;
}

#coachProfile .user-info .user-title{
    font-size: 17px;
    font-weight: 600;
}

.user-sub-info {
    margin-top: 10px;
    line-height: 23px;
    color: #435b65;
    display: flex;
    align-items: center;
    gap: 7px;
}

.user-sub-info span {
    display: inline-block;
}

.section-title h5{
    font-weight: 600;
}

.section-title p{
    color: #909090;
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    margin-top: 10px;
}

.service-item {
    background-color: #fff6f2;
    border: none;
    border-radius: 14px;
}

.service-item .card-body {
    padding: 40px 30px;
}

.service-item .card-header {
    border: none;
    background-color: #fff6f2;
}

.card-body-title {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 600;
}

.service-description {
    color: #989796;
}

.reviews {
    margin-top: 20px;
}

.review-item .user-profile-section {
    gap: 1.3%;
}

.comment-section {
    margin-top: 20px;
}
.stars {
    margin-top: 5px;
}
.fa-star {
    transition: 0.25s ease;
    cursor: pointer;
}
.selected {
    color: #e37946;
}

.comment-content {
    margin-top: 6px;
    color: #878787;
}

.review-item {
    padding-bottom: 25px;
    border-bottom: 1px solid #ededed;
    margin-bottom: 25px;
}

.section-header {
    display: flex; 
    justify-content: space-between;
}

.section-header a{
    color: #183542;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.card-actions {
    display: flex;
    gap: 5px;
    justify-content: right;
    position: relative;
    left: 14px;
}

.card-actions div {
    padding: 8px;
    background: #fff;
    border-radius: 50%;
}

#searchSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 17px;
    margin-bottom: 30px;
}

.search-title {
    text-align: center;
    margin-top: 70px;
}

.search-title h1 {
    font-weight: 800;
    margin: 0;
}

.search-bar {
    width: 752px;
    margin: 0 auto;
    padding: 5px;
    background: #fff6f2;
    border-radius: 10px;
}

.search-container {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: flex-start;
align-content: stretch;
align-items: center;
}


.search-bar input {
    order: 0;
    align-self: auto;  
}

.search-bar .search {
flex: 2 1 auto;
}

.date-from {
flex: 1 1 auto;
}

.date-to {
flex: 1 1 auto;
}


.search-bar .button {
    order: 4;
    flex: 0 1 auto;
    align-self: auto;
    width: 340px;
    padding: 20px;
    background-color: #e37946;
    font-weight: 600;
    border-radius: 7px; 
    border: 1px solid #fff;
    color: #fff;
}

.search-bar form{
    margin: 0;
}

.search-container input, .search-container select {
    border: none;
    background: #fff6f2;
}

.search-container input:nth-child(1)::placeholder {
    color: #9b9593;
    opacity: 1;
}

.search-container .coach-loc {
    border-left: 1px solid #c1c1c1 !important;
    border-radius: 0 !important;
    padding-left: 39px !important;
}

.input-icon {
    position: absolute;
    top: 35%;
    z-index: 1;
    margin-left: 15px;
}

.scrolling-badges {
    overflow: hidden;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 15px;
}

.list-of-badges::-webkit-scrollbar {
    display: none;
}

.list-of-badges {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    gap: 7px;
    max-width: 1220px;
}

.list-of-badges .badge {
    padding: 14px 40px;
    background-color: #fff6f2;
    color: #0c0c0c;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.badge.selected {
    background-color: #332d3f;
    color: #fff;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(304px, 1fr));
    grid-gap: 30px;
    align-items: stretch;
    width: 100%;
    margin-top: 40px;
}

article {
    border-radius: 10px;
    box-shadow: 1px 1px 5px 0px rgb(0 0 0 / 10%);
}

article img {
    max-width: 100%;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

article .text {
    padding: 20px;
}

article .text h5 {
    display: flex;
    justify-content: space-between;
}

article .text ul li{
    color: #929292;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rounded-pill:hover {
    background-color: #332d3f;
    color: #fff;
    transition: 0.3s;
}

#searchSection input:focus, #searchSection select:focus {
    border: none;
    background: #fff6f2;
    box-shadow: none;
}

.xd-message {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: auto%;
  min-height: 60px;
  background: #FFF;
  border: 1px solid #455870;
  margin-bottom: 2rem;
}
.xd-message-icon {
  background: #455870;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 1.0rem;
  margin: 0;
  margin-left: -1px;
}
.xd-message-content {
  flex: 6;
  padding-left: 2.5rem;
  margin: 0;
  display: flex;
  align-items: center;
}
.xd-message-content p {
  padding: 0;
  margin: 0;
}
.xd-message-close {
  color: #455870;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  transition: color 0.4s ease;
  cursor: pointer;
}
.xd-message-close .close-icon {
  transition: color 0.4s ease;
}
.xd-message-close .close-icon:hover {
  color: #0b0e11;
}

.msg-danger {
  border: 1px solid #b05150;
  border-radius: 6px;
}
.msg-danger .xd-message-icon {
    background: #b05150;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.msg-danger .xd-message-content,
.msg-danger .xd-message-close {
  color: #b05150;
}
.msg-danger .xd-message-close .close-icon:hover {
  color: #8d4140;
}

.hide {
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    -webkit-animation: hideMsgAlert 1s;
    animation: hideMsgAlert 1s;
}

@-webkit-keyframes hideMsgAlert {
0% {
    opacity: 1;
    transform: translateX(-20%);
}
100% {
    opacity: 0;
    transform: translateX(100%);
}
}

@keyframes hideMsgAlert {
0% {
    opacity: 1;
    transform: translateX(-20%);
}
100% {
    opacity: 0;
    transform: translateX(100%);
}
}
@media only screen and (max-width: 1000px) {
.xd-message-icon,
.xd-message-close {
    font-size: 1rem;
}

.xd-message-content {
    font-size: 0.8rem;
}
}
@media only screen and (max-width: 600px) {
    .xd-message-icon,
    .xd-message-close {
        font-size: 1rem;
    }

    .xd-message-content {
        font-size: 0.8rem;
    }
}

#listError {
    padding-bottom: 0;
    list-style: disc;
    margin-bottom: 0;
}

.infinite-container {
    text-align: left;
}

.infinite-container a{
    color: #212529;
}

.preview-section {
    display: flex;
    flex-direction: column;
    gap: 60px;
    flex: 1;
}

.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: auto;
}
.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}
.avatar-upload .avatar-edit input {
    display: none;
}
.avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 6px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}
.avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#rateForm i {
    font-size: 25px;
}

.star-rating {
    direction: rtl;
    cursor: default;
    display: flex;
    justify-content: flex-end;
  }
.star-rating input[type=radio] {
    display: none;
}
.star-rating label {
    color: #bbb;
    font-size: 2rem;
    padding: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type=radio]:checked ~ label {
    color: #e37946;
}

.modal-window {
    position: fixed;
    background-color: rgba(35,36,39,.8);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}
.modal-window:target {
visibility: visible;
opacity: 1;
pointer-events: auto;
}
.modal-window > div {
width: 400px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 2em;
background: #fff;
border-radius: 1rem;
}
.modal-window header {
font-weight: bold;
}
.modal-window h1 {
font-size: 150%;
margin: 0 0 15px;
}

.modal-close {
color: #aaa;
line-height: 50px;
font-size: 80%;
position: absolute;
right: 0;
text-align: center;
width: 70px;
text-decoration: none;
}
.modal-close:hover {
color: black;
}

.modal-window form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.service-actions {
    position: absolute;
    right: 14px;
    top: 14px;
}

.service-actions .edit-btn, .service-actions .remove-btn {
    padding: 8px;
    border-radius: 50%;
    background: #fff;
    border: none;
}

.editable{ 
    background:#fff;
    margin-top: 20px;
}

.save-btn{
    background-color: #e37946;
    border-color: #e37946;
    padding: 1px 15px;
    color: #fff;
    margin-right: 10px;
}

.paypal-buy-now-button {
    background: #ffc43a;
    border: 1px solid #ffc43a;
    color: #121661;
    font-family: PayPalSansBig-Regular,Helvetica Neue,Arial,sans-serif;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 400;
    padding: 0.825rem 4.875rem;
    position: relative;
    border-radius: 0.25rem;
    cursor: pointer;
    display: inline-block;
    width: 222px;
    max-height: 3.5rem;
    text-align: center;
    text-decoration: none;
    transition: color .2s ease,background-color .2s ease,border-color .2s ease,box-shadow .2s ease;
}

.paypal-buy-now-button:hover {
    background-color: #cf9f2e;
    border-color: #cf9f2e;
}

.paypal-buy-now-button:after {
    background-color: #cf9f2e;
    border-color: #cf9f2e;
}

.paypal-buy-now-button img {
    padding: 0;
    display: inline-block;
    background: none;
    border: none;
    width: 4rem;
    max-width: 100%;
}
.copy-text {
	position: relative;
	padding: 10px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 10px;
	display: flex;
}
.copy-text input.text {
	padding: 10px;
	font-size: 18px;
	color: #555;
	border: none;
	outline: none;
}
.copy-text button {
	padding: 10px 16px;
	background: #e37946;
	color: #fff;
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 10px;
	cursor: pointer;
}

.copy-text button:active {
	background: #e37946;
}
.copy-text button:before {
	content: "Copied";
	position: absolute;
	top: -45px;
	right: 0px;
	background: #e37946;
	padding: 8px 10px;
	border-radius: 20px;
	font-size: 15px;
	display: none;
}
.copy-text button:after {
	content: "";
	position: absolute;
	top: -20px;
	right: 25px;
	width: 10px;
	height: 10px;
	background: #e37946;
	transform: rotate(45deg);
	display: none;
}
.copy-text.active button:before,
.copy-text.active button:after {
	display: block;
}

.banner {
    display: flex;
    gap: 3%;
    align-items: center;
    margin-left: 3%;
    margin-right: 2%;
    position: relative;
    bottom: 70px;
}
.banner-contaier {
    background-color: #ffe8dd;
    max-height: 739px;
}

.banner-content .sub-content {
    width: 651px;
}


.banner .search-container input, .banner .search-container select {
    background-color: #fff;
    margin-right: 1px;
}
.banner-title h1 {
    font-size: 70px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0;
}

.banner-title .fancy-text {
    font-family: 'Alex Brush', cursive;
    font-size: 70px;
    position: relative;
    top: 54px;
    color: #e37946;
}

.sub-content {
    word-break: break-all;
    width: 741px;
    color: #898888;
}

.banner-content {
    width: 53%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.banner-content .search-bar {
    width: 100%;
    background: #fff;
}

.ellipse-bg {
    background-image: url(/static/img/Ellipse\ 13185.png);
    background-repeat: no-repeat;
    background-size: 580px;
    background-position: center;
}

.ellipse-bg img {
    width: 580px;
    position: relative;
    right: 60px;
    top: 50px;
}

.y-text {
    color: #e37946;
}

.banner .list-of-badges {
    display: block;
}

.banner .list-of-badges li {
    display: inline-block;
    margin: 5px;
    margin-left: 0;
}

#main {
    display: flex;
    flex-direction: column;
    gap: 90px;
    text-align: center;
    margin-top: 100px;
    align-items: center;
}

#main section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main .content-title h1{
    text-align: center;
    font-weight: 500;
}

.steps {
    grid-template-columns: repeat(auto-fill, minmax(404px, 1fr));
    display: grid;
    width: 100%;
    gap: 50px;
}

.step-item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}

.step-item .step-title {
    font-size: 23px;
    font-weight: 600;
}

.step-item img {
    margin-bottom: 14px;
    border-radius: 11px;
    padding: 10px;
    width: 63px;
}

.step-item:nth-child(1) img {
    background-color: #f49d75;
}

.step-item:nth-child(2) img {
    background-color: #e073f2;
    padding: 15px 10px;
}

.step-item:nth-child(3) img {
    background-color: #f37473;
}

.step-description {
    color: #898888;
    width: 79%;
    word-break: break-all;
}

#find-coach-section {
    display: flex;
    align-items: center;
    gap: 60px;
    word-break: break-all;
}

.section-right {
    text-align: left;
}

.section-right .sub-content {
    width: 508px;
}

.section-right a {
    margin-left: 0;
    margin-top: 30px;
    padding: 14px 47px;
}

.section-left img {
    width: 550px;
    padding: 9px;
    border: 1px solid #e37946;
    border-radius: 50%;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	margin: -1rem -1rem;
}

.gallery-item {
    border-radius: 18px;
	flex: 1 0 24rem;
	margin: 1rem;
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}

.gallery-item .card {
    border: none;
    text-align: left;
    /*width: 375px;*/
    width: 100%;
    height: 466px;
}

@supports (display: grid) {
	.gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        grid-gap: 2rem;
        width: 90%;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}
.gallery-item .card-img-overlay {
    top: unset;
    padding: 24px;
}

.gallery-item .card-text {
    color: #b6aea9;
}

.shadowy-img {
    position: absolute;
    /*bottom: -74px;*/
    bottom: 0;
    left: 0;
    right: 0;
}

.cta-section {
    background-image: url(/static/img/two_persons.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    margin-top: 96px;
}

.cta-section:before {
    background-color: rgb(40 35 50 / 80%);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.cta-content h2 {
    color: #fff;
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 30px;
}

.default-btn {
    display: inline-block;
}

.padding {
    padding: 130px 0;
}

.cta-section a {
    padding: 16px 62px;
}

.logo-img {
    text-align: center;
}

.logo-img img {
    width: 168px;
    height: auto;
}

#loginForm .btn {
    margin-bottom: 15px;
}

.modal-window .small {
    color: #707070;
}

.modal-window a {
    color: #000;
}

.modal-window .save-changes {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.cta-section .menu-block:hover {
    border-color: #fff;
    color: #fff;
}

.footer-img {
    width: 155px;
    height: auto;
    margin-bottom: 15px;
}

.illustration {
    width: 145px;
    height: 130px;
    display: inline-block;
}

.illustration svg {
    width: 100%;
    height: 100%;
}

#notFound p{
    width: 685px;
}