/* RESPONSIVENESS */

/* HOMEPAGE */
@media screen and (max-width:1259px) {
    .banner {
        display: block;
    }
    .banner-content {
        padding-top: 30px;
    }
    .banner-img {
        display: none;
    }
}

@media screen and (max-width:1150px) {
    #find-coach-section {
        flex-direction: column;
    }
}


@media screen and (max-width:1000px) {
    .banner-content {
        width: 100%;
    }

    .sign-up-form {
        width: 100%;
    }
}

@media screen and (max-width: 780px) {
    .banner-content .sub-content {
        width: 100%;
    }
    .sub-content {
        width: 100%;
    }

    .section-right .sub-content {
        width: 100%;
    }

    .section-left img {
        display: none;
    }

    .ft-disclaimer {
        flex-direction: column;
    }

    .disclaimer {
        border-right: none;
    }
}

@media screen and (max-width: 660px) {
    .banner .list-of-badges {
        display: none;
    }

    .banner-title h1 {
        font-size: 55px;
    }
    .banner-title .fancy-text {
        font-size: 63px;
    }
}


@media screen and (max-width: 450px) {
    .steps {
        width: 100%;
        display: block;
    }

    .step-item {
        margin-bottom: 40px;
    }

    #editProfile {
        margin: 4% 0%;
    }
}

/* SEARCH PAGE */

@media screen and (max-width:790px) {
    .search-bar{
        width: 100%;
    }
}

@media screen and (max-width:790px) {
    article img {
        width: 100%;
    }
}

@media screen {
    .scrolling-badges {
        width: 100%;
    }
    .list-of-badges {
        max-width: 100%;
        width: 100%;
    }

    .gallery-item .card-text {
        max-width: 97%;
    }
}

/* PROFILE PAGES */

@media screen and (max-width:900px) {
    .user-info-top {
        flex-direction: column;
        gap: 30px;
    }

    .subs-plan .card-body {
        flex-direction: column;
        gap: 20px;
        width: 100%;
        align-items: flex-start;
    }

    #userInfo .sign-up-form {
        width: 100%;
    }

    .save-changes {
        margin-top: 0;
    }
}

@media screen and (max-width:573px) {
    .subs-actions {
        flex-direction: column;
        width: 100%;
    }
    .subs-actions .menu-block {
        width: 100%;
    }
    .paypal-buy-now-button {
        width: 100%;
    }
    .services {
        display: block;
    }
}

@media screen and (max-width:520px) {
    .user-avatar img {
        width: 70px;
        height: 70px;
    }

    #coachProfile {
        width: 100%;
    }
    #coachProfile .user-info h3 {
        font-size: 15px;
    }

    .modal-window > div {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    #coachProfile .user-info .user-title {
        font-size: 14px;
    }
}

@media screen and (max-width: 48rem) {
    .brand-item {
        display: block;
    }

    #main-logo {
        display: none;
    }

    .navbar .y-btn{
        margin-left: 15px;
    }

    .navbar {
        justify-content: space-between;
    }
}

@media screen and (max-width: 865px) {
    .sign-up-section {
        flex-direction: column;
    }
    .subscription-section {
        margin-bottom: 30px;
    }

    .subscription-section .card {
        width: 100%;
    }
}
@media screen and (max-width: 540px) {
    .email-user {
        width: 100%;
    }
    .email-user .plain-btn {
        width: 100%;
    }
}

@media screen and (max-width: 575px) {
    .service-item {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 976px) {
    .ft-main {
        display: block;
    }
}

@media screen and (max-width: 740px) {
    #notFound p {
        width: 100%;
    }
}